.App {
  text-align: center;
}

main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh;
  /* background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); */

  /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
}